<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="link header-logo-link" href="./index.html">
        <img
          src="./images/logo-@1x.png"
          class="header-logo"
          alt="logo-popkorn"
          width="48"
          height="48"
        /><span class="span-name">Cinemania</span></a
      >

      <ul class="list header-list">
        <li class="header-item">
          <a class="header-link link" href="./index.html">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="./catalog.html">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="./library.html">My library</a>
        </li>
      </ul>

      <button type="button" class="menu-open-btn" data-menu-open>menu</button>
        <!-- Розмітка переключателя теми -->
        <div class="theme-switch">
          <div class="theme-switch__control">
            <input
              class="theme-switch__toggle"
              type="checkbox"
              name="theme"
              id="theme-switch-toggle"
              aria-label="Переключить между тёмной и светлой темой"
            />
            <label
              aria-hidden="true"
              class="theme-switch__track"
              for="theme-switch-toggle"
            >
            </label>
            <div aria-hidden="true" class="theme-switch__marker"></div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="mob-menu" hidden data-menu>
    <div class="menu-container">
      <button type="button" class="menu-close-btn" data-menu-close>
        <img
          src="./images/logo-@1x.png"
          class="menu-logo"
          alt="logo-popkorn"
          width="48"
          height="48"
        />
      </button>

      <nav>
        <ul class="list menu-list">
          <li class="mob-menu-item">
            <a class="header-link link" href="./index.html">Home</a>
          </li>
          <li class="mob-menu-item">
            <a class="header-link link" href="./catalog.html">Catalog</a>
          </li>
          <li class="mob-menu-item">
            <a class="header-link link" href="./library.html">My library</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
