<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="header-logo-link link" href="./index.html">
        <img loading="lazy"
          src="./images/logo-@1x.png"
          class="header-logo"
          alt="logo-popkorn"
          width="48"
          height="48"
        /><span class="span-name">Cinemania</span></a
      >

      <ul class="list header-list">
        <li class="header-item">
          <a class="header-link link" href="./index.html">Home</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="./catalog.html">Catalog</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="./library.html">My library</a>
        </li>
      </ul>

      <button type="button" class="menu-open-btn" data-menu-open>menu</button>
      <button type="button" class="button-switch">
        <svg class="icon-halfofmoon" width="13" height="13">
          <use href="/src/images/spite/sprite.svg#icon-halfofmoon"></use>
        </svg>
        <svg class="icon-moon-left visuality-hidden" width="18" height="18">
          <use href="/src/images/spite/sprite.svg#icon-moon-left"></use>
        </svg>
        <svg class="icon-moon-right" width="18" height="18">
          <use href="/src/images/spite/sprite.svg#icon-moon-right"></use>
        </svg>
        <svg class="icon-sun visuality-hidden" width="14" height="14">
          <use href="/src/images/spite/sprite.svg#icon-sun"></use>
        </svg>
      </button>
    </div>
    </nav>
  </div>
  <div class="mob-menu" hidden data-menu>
    <div class="menu-container">
      <button type="button" class="menu-close-btn" data-menu-close>
        <img loading="lazy"
          src="./images/logo-@1x.png"
          class="menu-logo"
          alt="logo-popkorn"
          width="48"
          height="48"
        />
      </button>

      <nav>
        <ul class="list menu-list">
          <li class="mob-menu-item">
            <a class="header-link link" href="./index.html">Home</a>
          </li>
          <li class="mob-menu-item">
            <a class="header-link link" href="./catalog.html">Catalog</a>
          </li>
          <li class="mob-menu-item">
            <a class="header-link link" href="./library.html">My library</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
