.weekly-section {
  background-color: #111111;
  padding-top: 40px;
  padding-bottom: 32px;
}
.weekly-top-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  // padding-top:40px;
}
.weekly-tittle {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.19px;
}

.weekly-info {
  font-size: 16px;
  line-height: 1.18;
  color: #ffffff;
}

.weekly-btn-link {
  color: #f87719;
  font-size: 16px;
  line-height: 1.19px;
  text-decoration: none;
}

.weekly-item {
  list-style-type: none;
  position: relative;
  width: 280px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 16px;
  text-decoration: none;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  border-radius: 5px;
}
.weekly-item:last-child {
  margin-bottom: 0;
}
.weekly-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  border-radius: 5px;
  // z-index: 2;
}

.weekly-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.18;
  position: relative;
  // z-index:1;
}

.weekly-info-tittle {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
}
.weekly-info {
  display: flex;
  flex-direction: column;
  content: ' ';
  position: absolute;
  left: 12px;
  bottom: 12px;
  z-index: 3;
}
.weekly-poster-list {
  border-radius: 5px;
  overflow: hidden;
}

.info-movie {
  display: flex;
  min-width: 112px;
  color: #b7b7b7;
  font-size: 12px;
  line-height: 1.67;
}

img {
  border-radius: 5px;
  // opacity: 0.6;
  // background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
}
@media screen and (max-width: 767px) {
  .weekly-item:nth-child(n + 2) {
    display: none;
  }

  .weekly-item {
    max-width: 280px;
    margin-bottom: 0px;
  }
  .weekly-container {
    padding-left: 20px;
    padding-right: 20px;
    min-width: 320px;
  }
  .weekly-tittle {
    font-size: 16px;
    line-height: 1.19px;
  }
  .weekly-btn-link {
    font-size: 16px;
    line-height: 1.19px;
  }
  .weekly-top-wrap {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .weekly-section {
    padding-top: 52px;
    padding-bottom: 44px;
  }
  .weekly-item {
    width: 224px;
    margin-bottom: 0;
  }
  .weekly-top-wrap {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 24px;
  }
  .weekly-list {
    display: flex;
    gap: 16px;
  }
  .weekly-container {
    padding-left: 32px;
    padding-right: 32px;
    // padding-top: 40px;
  }
  .weekly-info-tittle {
    line-height: 1.5;
  }
  .info-movie {
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .weekly-section {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .weekly-item {
    width: 395px;
    margin-bottom: 0;
  }

  .weekly-top-wrap {
    margin-bottom: 28px;
    padding-left: 0;
    padding-right: 0;
  }
  .weekly-tittle {
    font-size: 28px;
    line-height: 1.18px;
  }
  .weekly-btn-link {
    font-size: 28px;
    line-height: 1.18px;
  }
  .weekly-info-tittle {
    font-size: 20px;
    line-height: 1.15;
  }
  .info-movie {
    font-size: 20px;
    line-height: 1.15;
  }
}
