<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./sass/footer/_footer.scss" />
</head>
<body>
  <footer class="footer">
    <div>
      <p class="text">© 2023 | All Rights Reserved | Developed with &#129505 by <a href="#" id="team-link">GoIT Students</a></p>
    </div>
  </footer>

  <!-- Модальне вікно з фотографіями -->
  <div id="team-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="team-members-container">
        <!-- Розробники -->
        <div class="team-member">
          <img src="./images/team/Savchak.jpg" alt="Розробник 1">
          <h2>Serhii Savchak</h2>
          <p>Team Lead</p>
        </div>
        <div class="team-member">
          <img src="./images/team/developer.jpg" alt="Розробник 2">
          <h2>Darina Reva</h2>
          <p>Scrum Master</p>
        </div>
        <div class="team-member">
          <img src="./images/team/Kushnir.jpg" alt="Розробник 3">
          <h2>Igor Kushnir</h2>
          <p>Front-end Developer</p>
        </div>
        <div class="team-member">
          <img src="./images/team/developer.jpg" alt="Розробник 4">
          <h2>Oleksandr Nepomiashchyi</h2>
          <p>Full-stack Developer</p>
        </div>
        <div class="team-member">
            <img src="./images/team/Joe.jpg" alt="Розробник 5">
            <h2>Joe Shvartsev</h2>
            <p>Full-stack Developer</p>
          </div>
          <div class="team-member">
            <img src="./images/team/Valera.jpg" alt="Розробник 6">
            <h2>Valerii Arlamovskyi</h2>
            <p>Back-end Developer</p>
          </div>
          <div class="team-member">
            <img src="./images/team/Roman.jpg" alt="Розробник 7">
            <h2>Roman Gorobets</h2>
            <p>Front-end Developer</p>
          </div>
          <div class="team-member">
            <img src="./images/team/Boiko.jpg" alt="Розробник 8">
            <h2>Olha Boiko</h2>
            <p>Front-end Developer</p>
          </div>
          <div class="team-member">
            <img src="./images/team/Veronika.jpg" alt="Розробник 9">
            <h2>Veronika Kotliarevska</h2>
            <p>Front-end Developer</p>
          </div>
          <div class="team-member">
            <img src="./images/team/developer.jpg" alt="Розробник 10">
            <h2>Maksym Slobodianiuk</h2>
            <p>Front-end Developer</p>
          </div>
          <div class="team-member">
            <img src="./images/team/developer.jpg" alt="Розробник 11">
            <h2>Iryna Pervaniuk</h2>
            <p>Front-end Developer</p>
          </div>
          <div class="team-member">
            <img src="./images/team/developer.jpg" alt="Розробник 12">
            <h2>Anonymous</h2>
            <p>UI/UX Designer</p>
          </div>
      </div>
    </div>
  </div>

  <script>
    // Отримуємо посилання на елемент по його id
    var teamLink = document.getElementById('team-link');

    // Додаємо обробник події "click" на посилання
    teamLink.addEventListener('click', function(event) {
      event.preventDefault(); // Забороняємо перехід за посиланням

      // Відкриваємо модальне вікно
      var modal = document.getElementById('team-modal');
      modal.style.display = 'flex';

      // Забороняємо прокрутку сторінки
      document.body.style.overflow = 'hidden';

      // Закриваємо модальне вікно при натисканні на "x" або за його межами
      modal.addEventListener('click', function(event) {
        if (event.target === modal || event.target.classList.contains('close')) {
          modal.style.display = 'none';
          document.body.style.overflow = ''; // Відновлюємо прокрутку сторінки
        }
      });
    });
  </script>
</body>
</html>