
  <footer class="footer">
  <div class="footer-container container"> <p class="footer-text">2023 | All Rights Reserved |</p> <p class="footer-bottom-text">&#169; 	Developed with &#129505 by <a class="footer-link link" href="#" id="team-link">GoIT Students</a></p></div>
     
      <!-- Модальне вікно з фотографіями -->
  <div id="team-modal" class="modal-team">
    <div class="modal-content">
      <span class="close">&times;</span>
      <ul class="team-members-list list">
        <!-- Розробники -->
        <li class="team-member-item">
          <img class="team-member-img" src="./images/team/Savchak.jpg" alt="Розробник 1">
          <h2 class="team-title">Serhii Savchak</h2>
          <p class="team-text">Team Lead</p>
        </li>
        <li class="team-member-item">
          <img class="team-member-img" src="./images/team/developer.jpg" alt="Розробник 2">
          <h2 class="team-title">Darina Reva</h2>
          <p class="team-text">Scrum Master</p>
        </li>
        <li class="team-member-item">
          <img class="team-member-img" src="./images/team/Kushnir.jpg" alt="Розробник 3">
          <h2 class="team-title">Igor Kushnir</h2>
          <p>Front-end Developer</p>
        </li>
        <li class="team-member-item">
          <img class="team-member-img" src="./images/team/developer.jpg" alt="Розробник 4">
          <h2 class="team-title">Oleksandr Nepomiashchyi</h2>
          <p class="team-text">Full-stack Developer</p>
        </li>
        <li class="team-member-item">
            <img class="team-member-img" src="./images/team/Joe.jpg" alt="Розробник 5">
            <h2 class="team-title">Joe Shvartsev</h2>
            <p class="team-text">Full-stack Developer</p>
          </li>
          <li class="team-member-item">
            <img class="team-member-img" src="./images/team/Valera.jpg" alt="Розробник 6">
            <h2 class="team-title">Valerii Arlamovskyi</h2>
            <p class="team-text">Back-end Developer</p>
          </li>
          <li class="team-member-item">
            <img class="team-member-img" src="./images/team/Roman.jpg" alt="Розробник 7">
            <h2 class="team-title">Roman Gorobets</h2>
            <p class="team-text">Front-end Developer</p>
          </li>
          <li class="team-member-item">
            <img class="team-member-img" src="./images/team/Boiko.jpg" alt="Розробник 8">
            <h2 class="team-title">Olha Boiko</h2>
            <p class="team-text">Front-end Developer</p>
          </li>
          <li class="team-member-item">
            <img class="team-member-img" src="./images/team/Veronika.jpg" alt="Розробник 9">
            <h2 class="team-title">Veronika Kotliarevska</h2>
            <p class="team-text">Front-end Developer</p>
          </li>
          <li class="team-member-item">
            <img class="team-member-img" src="./images/team/developer.jpg" alt="Розробник 10">
            <h2 class="team-title">Maksym Slobodianiuk</h2>
            <p class="team-text">Front-end Developer</p>
          </li>
          <li class="team-member-item">
            <img class="team-member-img" src="./images/team/developer.jpg" alt="Розробник 11">
            <h2 class="team-title">Iryna Pervaniuk</h2>
            <p>Front-end Developer</p>
          </li>
          <li class="team-member-item">
            <img class="team-member-img" src="./images/team/developer.jpg" alt="Розробник 12">
            <h2 class="team-title">Anonymous</h2>
            <p class="team-text">UI/UX Designer</p>
          </li>
      </ul>
    </div>
  </div>

  </footer>


