<section class="hero">
    <div class="hero-text-cont">
        <h2 class="hero-title">Let’s Make Your Own Cinema</h2>
        <!-- rating -->
        <div class="rating visuality-hidden">
            <div class="rating_body">
                <div class="rating_active"></div>
                <div class="raiting_items">
                    <input type="radio" class="raiting_item" value="1" name="raiting">
                    <input type="radio" class="raiting_item" value="2" name="raiting">
                    <input type="radio" class="raiting_item" value="3" name="raiting">
                    <input type="radio" class="raiting_item" value="4" name="raiting">
                    <input type="radio" class="raiting_item" value="5" name="raiting">
                </div>
            </div>
            <div class="rating_value"></div>
        </div>
        <!-- end rating -->
        <p class="hero-text-mobile">Is a guide to creating a personalized movie theater experience. You'll need a
            projector, screen, and speakers.</p>
        <p class="hero-text-big">Is a guide to creating a personalized movie theater experience. You'll need a
            projector, screen, and speakers. Decorate
            your space, choose your films, and stock up on snacks for the full experience.</p>
        <div class="fetchBtns">
            <a href="/src/catalog.html" class="hero-link">
                <button type="button" class="hero-btn btn">Get Started</button></a>
            <button type="button" class="blackBtn visuality-hidden">
                More details
            </button>
        </div>
    </div>

    <!-- </div> -->
</section>