<section class="hero-section">
  <div class="hero-container container">
    <h1 class="hero-title">Let’s Make Your Own Cinema</h1>

    <p class="hero-text">
      Is a guide to creating a personalized movie theater experience. You'll
      need a projector, screen, and speakers.
    </p>
    <p class="hero-text-big">
      Is a guide to creating a personalized movie theater experience. You'll
      need a projector, screen, and speakers. Decorate your space, choose your
      films, and stock up on snacks for the full experience.
    </p>
    <a class="hero-btn btn link" href="/src/library.html">Get Started</a>
  </div>
  <div class="hero-backdrop visuality-hidden">
    <div class="hero-modal">
      <svg class="hero-modal-close">
        <use href="/src/images/sprite/sprite.svg#icon-cross"></use>
      </svg>

      <div class="modal-wrap"></div>
    </div>
  </div>
</section>
