.hero {
  height: 380px;
  background-color: $body-bg-color;
  background-image: linear-gradient(
      86.77deg,
      #111111 30.38%,
      rgba(17, 17, 17, 0) 65.61%
    ),
    url(../images/home-page/Loader.jpg);
  //   background-position: center;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 480px;
  margin: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(../images/home-page/Loader.jpg);
  }
}
.hero-loader-wrap {
  width: 50%;
  height: 50%;
  right: 50%;
  position: absolute;
}

.hero-loader {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  right: 50%;
}
.rating_value {
  color: #f8f8f8;
}

.hero-start-btn {
  border: transparent;
  background: $btn-bg-color;
  color: $btn-color;
  border-radius: 74px;
  font-weight: 500;
  padding: 12px 24px;
}
.hero-container {
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  color: $white-color;
  width: 250px;
  margin-bottom: 13px;
}

//  margin-bottom: 17px;
// }
.hero-text-mobile {
  color: $white-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  width: 200px;
  // height: 70px;
  margin-bottom: 20px;
}
.hero-text-big {
  display: none;
}

.hero-black-btn {
  font-size: 12px;
  padding: 12px 24px;
  border: 1px solid #f84119;
  border-radius: 74px;
  background-color: $body-bg-color;
  color: #ffffff;
  border-radius: 74px;
  font-weight: 500;
  &:hover,
  &:focus {
    color: $accent-color;
    background: $white-color;
    border: 1px solid $accent-color;
  }
  .modal-hero {
    width: 280px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.hero-btn {
  display: flex;
  gap: 8px;
}
.hero-text-cont {
  padding: 0 20px;
  position: relative;
  padding-top: 40px;
  margin: 0 auto;

  // padding-bottom: 20px;
}
.hero-error-onstart-img {
  position: absolute;
  top: 100%;
  right: 100%;
  transform: translateY(+300);
}

.hero-error-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: $white-color;
}

@media screen and (min-width: 375px) {
  .hero {
    height: 380px;
    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(../images/home-page/Loader.jpg);
    background-position: 20% 0%;
    background-size: cover;
    max-width: 375px;
    margin: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        url(../images/home-page/Loader.jpg);
      background-repeat: no-repeat;
    }
  }
  .hero-title {
    width: 300px;
  }
  .hero-text-mobile {
    width: 250px;
  }
  .hero-start-btn {
    border: transparent;
    background: $btn-bg-color;
    color: $btn-color;
    border-radius: 74px;
    font-weight: 500;
    padding: 12px 24px;
  }

  .hero-black-btn {
    padding: 12px 24px;
  }
  .video {
    width: 375px;
    height: 350px;
  }
  .hero-error-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: $white-color;
  }
  
}

@media screen and (min-width: 767px) {
  .hero-text-cont {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 375px;
    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(../images/home-page/Loader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    max-width: 768px;
    margin: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        url(../images/home-page/Loader.jpg);
    }
  }

  .hero-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.19;
    // display: flex;
    align-items: center;
    margin-bottom: 13px;
    width: 670px;
  }
  .hero-text-cont {
    width: 768px;

    padding: 0 32px;
    padding-top: 36px;
  }

  .hero-rating {
    margin-bottom: 21px;
  }
  .hero-text-mobile {
    display: none;
  }

  .hero-text-big {
    color: $white-color;

    font-size: 14px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    color: #f8f8f8;
    display: block;
    width: 400px;
    margin-bottom: 28px;
  }

  .hero-black-btn {
    font-size: 14px;
    padding: 12px 24px;
  }
  .hero-start-btn {
    border: transparent;
    background: $btn-bg-color;
    color: $btn-color;
    border-radius: 74px;
    font-weight: 500;
    padding: 12px 24px;
  }

  .video {
   width: 560px;
    height: 400px;
  }

  .hero-error-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: $white-color;
  }
  .modal-hero {
   display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 610px;
    height: 400px;
  }
  
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 660px;
    background-image: linear-gradient(
        86.77deg,
        #111111 30.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(../images/home-page/Loader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    max-width: 1200px;
    margin: auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          86.77deg,
          #111111 30.38%,
          rgba(17, 17, 17, 0) 65.61%
        ),
        url(../images/home-page/Loader.jpg);
    }
  }

  .hero-text-cont {
    width: 1280px;
    padding: 0 32px;
    padding-top: 118px;
  }
  .hero-title {
    font-size: 64px;
    line-height: 1.17;
    // display: flex;
    align-items: center;
    margin-bottom: 17px;
  }
  .hero-text {
    width: 464px;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 32px;
  }

  .hero-btn {
    display: flex;
    gap: 14px;
  }
  .hero-text-big {
    margin-bottom: 36px;
    font-size: 19px;
    height: 100%;
    overflow: visible;
    max-width: 367px;
    line-height: 1.18;
  }
  .hero-rating {
    margin-bottom: 29px;
  }
  .video {
    width: 650px;
    height: 400px;
  }
  .modal-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 20px;
    width: 700px;
    height: 400px;
  }
  
}

// rating
.hero-rating {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  font-size: 30px;
  line-height: 0.75;
}

.hero-rating_body {
  position: relative;
}
.hero-rating_body::before {
  content: '★★★★★';
  display: block;
  color: white;
}

.rating_active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  // overflow: hidden;
  color: #f8f8f8;
}
.rating_active::before {
  content: '★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );
  background-color: #ffffff;
}

.raiting_items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.raiting_item {
  border: -1px solid yellow;
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.rating_value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

/* Modal */ /* Modal */ /* Modal */ /* Modal */

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop-hero {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-hero .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  visibility: hidden;
}

.backdrop-hero.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: $body-bg-color;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
  padding: 24px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-hero {
  color: $btn-color;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #f84119;
  display: block;
  margin-left: auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(+15px, -5px);
}

.modal-close-hero:active,
.modal-close-hero:hover {
  background-color: $white-color;
  border-radius: 50%;
  color: $accent-color;
}
