.hero-section {
  background-image: linear-gradient(
      86.77deg,
      #111111 30.38%,
      rgba(17, 17, 17, 0) 65.61%
    ),
    url(/src/images/home-page/hero-home@1x-mobile.jpg);
  max-width: 375px;
  background-position: 20% 0;
  background-size: cover;
  background-repeat: no-repeat;

  margin: auto;
  padding-top: 40px;
  padding-bottom: 80px;
}
.hero-container {
}

.hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.18;
  max-width: 199px;
  margin-bottom: 8px;

  /* White */

  color: $white-color;
}
.hero-text {
  font-size: 14px;
  line-height: 1.14;

  color: $main-text-color;
  max-width: 166px;
  margin-bottom: 20px;
}

.hero-text-big {
  display: none;
}

.hero-btn {
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        82.55deg,
        #111111 39.6%,
        rgba(17, 17, 17, 0) 72.95%
      ),
      url(/src/images/home-page/hero-home@1x-tablet.jpg);
    max-width: 768px;
    background-position: 20% 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 249px;
    padding-top: 169px;
  }
  .hero-container {
  }
  .container {
  }
  .hero-title {
    max-width: 332px;
    font-size: 44px;
    line-height: 1.18;
  }
  .hero-text-big {
    margin-bottom: 32px;
    display: block;
    color: $main-text-color;
    max-width: 357px;
    font-size: 14px;
    line-height: 1.14;
  }

  .hero-text {
    display: none;
  }
  .hero-btn {
  }
}
