<!-- modal window -->
<!-- <div class="backdrop visuality-hidden"> -->
<div class="backdrop">
  <div class="modal-window">
    <button class="modal-close-btn" type="button">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./images/spite/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <img
      class="modal-img-poster"
      src="https://static.hdrezka.ac/i/2023/3/4/q307d27a12086zu61l51s.jpg"
      alt="poster"
    />
    <div class="modal-all-information-about-film">
      <h2 class="modal-name-film">John Wick: Chapter 4</h2>

      <div class="modal-film-statistics">
        <div class="modal-statistical-parameters">
          <p>Vote / Votes</p>
          <p>Popularity</p>
          <p>Genre</p>
        </div>
        <div class="modal-statistical-values">
          <p>
            <span class="modal-votes">7.3</span> /
            <span class="modal-votes">1260</span>
          </p>
          <p>100.2</p>
          <p>Action Thriller Crime</p>
        </div>
      </div>
      <p class="modal-about">About</p>
      <p class="modal-about-text">
        John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the
        upcoming fourth instalment of the series. With the price on his head
        ever increasing, John Wick uncovers a path to defeating The High Table.
        But before he can earn his freedom, Wick must face off against a new
        enemy with powerful alliances across the globe and forces that turn old
        friends into foes.
      </p>

      <button class="modal-button" type="button">Add to my library</button>
    </div>
  </div>
</div>
