<!-- modal window -->
<!-- <div class="backdrop visuality-hidden"> -->
<div class="backdrop">
  <div class="modal-window">
    <button class="modal-close-btn" type="button">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./images/spite/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <img 
      class="modal-img-poster"
      src="./images/Rectangle 24.jpg"
      alt="poster" 
    />
    <div class="modal-all-information-about-film">
      <h2 class="modal-name-film">John Wick: Chapter 4</h2>

      <table class="modal-film-statistics">
        <tr class="modal-statistical-parameters">
          <td class="modal-vote-parametr">
            <p class="modal-statistical-parameter">Vote / Votes</p>
          </td> 
          <td> 
            <p class="modal-statistical-values">
              <span class="modal-vote">7.3</span> /
              <span class="modal-votes">1260</span> 
            </p> 
          </td>
        </tr>  
        <tr class="modal-statistical-parameters">
          <td><p class="modal-statistical-parameter">Popularity</p></td>
          <td><p class="modal-statistical-values">100.2</p></td>
        </tr>
        <tr class="modal-statistical-parameters">
          <td><p class="modal-statistical-parameter modal-last-parametr">Genre</p></td>
          <td>
            <p class="modal-genres modal-statistical-values ">
              Action Thriller Crime
            </p>
          </td>
        </tr>
      </table>

      <p class="modal-about">About</p>
      <p class="modal-about-text">
        John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the
        upcoming fourth instalment of the series. With the price on his head
        ever increasing, John Wick uncovers a path to defeating The High Table.
        But before he can earn his freedom, Wick must face off against a new
        enemy with powerful alliances across the globe and forces that turn old
        friends into foes.
      </p>

      <button class="modal-button" type="button">Add to my library</button>
    </div>
  </div>
</div>
