<!-- modal window -->
<!-- <div class="backdrop visuality-hidden"> -->
<div class="backdrop">
  <div class="modal-window">
    <button class="modal-close-btn" type="button">
      <svg class="modal-close-icon" width="24" height="24">
        <use href="./images/spite/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <img class="modal-img-poster" src="./images/poster.jpg" alt="poster" />
    <div class="modal-all-information-about-film">
      <h2 class="modal-title">John Wick: Chapter 4</h2>

      <div class="modal-stat-film">
        <ul class="modal-stat-param list">
          <li><p>Vote / Votes</p></li>
          <li><p>Popularity</p></li>
          <li><p>Genre</p></li>
        </ul>
        <ul class="modal-stat-values list">
          <li class="modal-stat-values-item">
            <p class="modal-stat-values-text">
              <span class="modal-vote">7.3</span> /
              <span class="modal-votes">1260</span>
            </p>
          </li>
          <li class="modal-stat-values-item">
            <p class="modal-stat-values-text">100.2</p>
          </li>
          <li class="modal-stat-values-item">
            <p class="modal-stat-values-text">Action Thriller Crime</p>
          </li>
        </ul>
      </div>
      <p class="modal-about">About</p>
      <p class="modal-about-text">
        John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the
        upcoming fourth instalment of the series. With the price on his head
        ever increasing, John Wick uncovers a path to defeating The High Table.
        But before he can earn his freedom, Wick must face off against a new
        enemy with powerful alliances across the globe and forces that turn old
        friends into foes.
      </p>

      <button class="modal-button" type="button">Add to my library</button>
    </div>
  </div>
</div>
