<section class="catalog-section">
  <div class="catalog-container container">
    <form class="catalog-form">
      <div class="catalog-form-wrap">
        <input
          type="text"
          name="search"
          placeholder="Search"
          class="catalog-form-input"
        />
        <button class="catalog-clear-btn" type="button">
          <svg class="catalog-clear-icon" width="16" height="16">
            <use href="./images/spite/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <button class="catalog-search-btn btn" type="submit">
        <svg class="catalog-search-icon" width="24" height="24">
          <use href="./images/spite/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <div class="catalog-error-container">
      <ul class="catalog-list"></ul>
    </div>
    <!-- tui -->
    <div id="tui-pagination-container" class="catalog-gallery-pagination"></div>
  </div>
</section>
