<section>
  <div class="container">
    <form class="search-form">
      <div class="search-form-wrapper">
        <input
          type="text"
          name="search"
          placeholder="Search"
          class="search-form-input"
        />
        <button class="btn-clear" type="button">
          <svg class="clear-icon" width="16" height="16">
            <use href="./images/spite/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <button class="btn-search" type="submit">
        <svg class="search-form-icon" width="24" height="24">
          <use
            class="search-icon"
            href="./images/spite/sprite.svg#icon-search"
          ></use>
        </svg>
      </button>
    </form>

    <div class="error-container"></div>

    <div>
      <ul class="catalog-list"></ul>
    </div>
  </div>
</section>
