.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: visibility 250ms var(--cubic), opacity 250ms var(--cubic);
}
::-webkit-scrollbar {
  background-color: transparent;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 52px 16px;
  height: 93vh;
  transform: translate(-50%, -50%) scaleY(1);
  opacity: 1;
  border-radius: 14px;
  background-color: $btn-color;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-icon {
  stroke: $main-text-color;
  fill: $main-text-color;
  transition: stroke $cubic-bezier;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  stroke: $accent-color;
}

.modal-img-poster {
  width: 248px;
  height: 315px;
  margin-bottom: 22px;
  object-fit: fill;
}

.modal-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 29px;
  color: $white-color;
  max-width: 248px;
}

.modal-stat-film {
  display: flex;
  column-gap: 50px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.modal-stat-param {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 78px;
  color: $card-desc-color;
}

.modal-stat-values {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 100px;
  color: $white-color;
}

.modal-vote {
  background: $white-color;
  color: $btn-color;
  border-radius: 5px;
  padding: 1px 8px;
  margin-right: 7px;
}

.modal-votes {
  background: $white-color;
  color: $btn-color;
  border-radius: 5px;
  padding: 1px 4px;
  margin-left: 4px;
}

.modal-about {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: $card-desc-color;
  max-width: 63.53px;
}

.modal-about-text {
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 16px;
  color: $card-desc-color;
  width: 100%;
  max-height: 120px;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.modal-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  border-radius: 74px;
  padding: 12px 24px;
  color: $white-color;
  border: 1px solid $accent-color;
  background-color: transparent;
  transition: background $cubic-bezier, color $cubic-bezier;
}

.modal-button:hover,
.modal-button:focus {
  background: $white-color;
  color: $accent-color;
  border: none;
}

@media screen and (max-width: 767px) {
  .modal-window {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .modal-window {
    padding: 44px;
    width: 704px;
    height: 488px;
  }

  .js-modal-window {
    display: flex;
    gap: 16px;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }

  .modal-img-poster {
    margin-bottom: 0px;
    min-width: 294px;
    height: 400px;
  }

  .modal-title {
    font-size: 24px;
    line-height: 1.16;
    margin-bottom: 24px;
    max-width: 306px;
  }

  .modal-stat-film {
    margin-bottom: 20px;
    column-gap: 62px;
  }

  .modal-about {
    margin-bottom: 16px;
    max-width: 46px;
  }

  .modal-about-text {
    margin-bottom: 24px;
    max-height: 130px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-window {
    padding: 60px;
    width: 846px;
    height: 598px;
  }

  .js-modal-window {
    gap: 20px;
  }

  .modal-close-btn {
    top: 40px;
    right: 40px;
  }

  .modal-img-poster {
    min-width: 375px;
    height: 478px;
  }

  .modal-title {
    line-height: 1.33;
    margin-bottom: 28px;
    max-width: 331px;
  }

  .modal-about {
    font-size: 16px;
    line-height: 1;
    max-width: 52px;
  }

  .modal-about-text {
    font-size: 14px;
    line-height: 1.43;
    max-height: 200px;
  }
}
