//Components

/* Встановлюємо колір самого скролу */
::-webkit-scrollbar {
  width: 6px; /* Ширина скролу */
}

/* Встановлюємо фоновий колір скролу */
::-webkit-scrollbar-track {
  background-color: $btn-color; /* Колір фону скролу */
}

/* Встановлюємо колір "полоси прокрутки" скролу */
::-webkit-scrollbar-thumb {
  background-color: orange; /* Колір "полоси прокрутки" скролу */
}

/* Встановлюємо колір "полоси прокрутки" при наведенні курсора */
::-webkit-scrollbar-thumb:hover {
  background-color: #f84119; /* Колір "полоси прокрутки" при наведенні курсора */
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  background: $btn-bg-color;
  color: $btn-color;
  border-radius: 74px;
  font-weight: 500;
  border: transparent;
  padding: 12 24px;
  line-height: 1.16;

  transition: color $cubic-bezier, background-color $cubic-bezier,
    border $cubic-bezier box-shadow $cubic-bezier;
  &:hover,
  &:focus {
    border: $accent-color;
    color: $accent-color;
    background: transparent;
    background-color: $white-color;
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  }
}

.btn-search {
  border: transparent;
  color: $btn-color;
  background: $btn-bg-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: color $cubic-bezier, border $cubic-bezier;
  &:hover,
  &:focus {
    color: $accent-color;
    background: $white-color;
    border: 1px solid $accent-color;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 375px;
  }

  search {
    padding: 11px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
  .btn {
    font-size: 14px;
    line-height: 1.14;
  }
  .btn-search {
    padding: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  .btn {
    font-size: 16px;
    line-height: 1.5;
  }
  .btn-search {
    padding: 14px;
  }
}
