<section class="weekly">
    <div class="weekly-container container">
        <div class="weekly-header">
            <h3 class="weekly-tittle">WEEKLY TRENDS</h3>
            <a class="weekly-link" href="./catalog.html">See all</a>
        </div>
        <ul class="weekly-list js-weekly-list list">
            <!-- <li class="weekly-item">
                <a class="weekly-item-link">
                    <img src="" alt="" width="">
                </a>
                <div class="info-movie">
                    <h4 class="weekly-info-tittle"></h4>
                    <p class="weekly-info-date"></p>
                </div>
            </li>     -->
        </ul>
    </div>    
</section>
<!-- 

<li class="weekly-item">
    <a href="" class="weekly-item-link" >
        <img src="https://image.tmdb.org/t/p/w500/${movie.poster}" alt="${movie.title}/>
    </a>   
    <div class="weekly-info-tittle-all">
                <h2 class="weekly-info-tittle">${movie.title}</h2>
            <div class="info-movie">
                <p class="weekly-info-date">${movie.genreFirst} ${movie.genreSecond} ▏</p>
                <p>${movie.release_date.slice(0, 4)}</p>
            </div>
    </div>    
</li> -->