<section class="weekly-section">
  <div class="weekly-container container">
    <div class="weekly-top-wrap">
      <h2 class="weekly-title">WEEKLY TRENDS</h2>
      <a class="weekly-btn-link" href="./catalog.html">See all</a>
    </div>
    <ul class="weekly-list js-weekly-list list">
      <!-- <li class="weekly-item">
                <a class="weekly-item-link" href="">
                    <img src="https://image.tmdb.org/t/p/w500/${movie.poster}" alt="${movie.title}" />
                <div class="weekly-info">
                    <h3 class="weekly-info-tittle">${movie.title}</h3>
                        <div class="info-movie">
                            <p class="weekly-info-date">${movie.genreFirst} ${movie.genreSecond} ▏</p>
                            <p>${movie.release_date.slice(0, 4)}</p>
                        </div>
                </div></a>     
            </li> -->
    </ul>
  </div>
</section>
