<section class="weekly">
    <div class="weekly-container container">
        <div class="weekly-header">
            <h3 class="weekly-tittle">WEEKLY TRENDS</h3>
            <a class="weekly-link" href="./catalog.html">See all</a>
        </div>
        <ul class="js-weekly-list weekly-list list">
            <!-- <li class="weekly-item">
                <a class="weekly-item-link">
                    <img src="" alt="" width="">
                </a>
                <div>
                    <h4 class="weekly-info-tittle"></h4>
                    <p class="weekly-info-date"></p>
                </div>
            </li>     -->
        </ul>
    </div>    
</section>
