// стили контейнера

.library-section {
  padding-top: 92px;
  padding-bottom: 102px;
  @media screen and (min-width: 768px) {
    padding-top: 140px;
    padding-bottom: 140px;
    @media screen and (min-width: 1280px) {
      padding-top: 176px;
      padding-bottom: 178px;
    }
  }
}

.library-container {
  text-align: center;
}

.library-list-container {
  @media screen and (min-width: 768px) {
    @media screen and (min-width: 1280px) {
    }
  }
}

.movies-list {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px 16px;
    @media screen and (min-width: 1280px) {
      gap: 32px 16px;
    }
  }
}

.library-error-text {
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 20px;
  max-width: 280px;
  text-align: center;
  font-size: 20px;
  line-height: 1.4;

  color: $white-color;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-top: 80px;
    line-height: 1.33;
    margin-bottom: 24px;
    max-width: 538px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 120px;
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 1.12;
    max-width: 684px;
  }
}

.library-error-btn {
  margin: 0 auto;
}

// Стили елемента галереи фильмов
.library-list-item {
  position: relative;
  width: 280px;
  scale: 0.98;
  transition: scale 180ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 5px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
  &:hover,
  &:focus {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    scale: 1;
    box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 3);
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
  // позиционирование градиента, текста, постера
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 63.48%,
      rgba(0, 0, 0, 0.9) 92.16%
    );
    border-radius: 5px;
  }
  .library-list-img {
    border-radius: 5px;
    overflow: hidden;
  }
  .library-item-desc {
    display: flex;
    position: absolute;
    z-index: 3;
    bottom: 12px;
    left: 12px;
    @media screen and (min-width: 768px) {
      bottom: 12px;
      left: 12px;
    }

    @media screen and (min-width: 1280px) {
      bottom: unset;
      top: 85%;
      left: 20px;
    }
  }
}

// стили описания фильма
.library-item-genre-date {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: $card-desc-color;
  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.library-item-title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  color: $white-color;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    line-height: 1.5;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
}

// Стили Селектора жанров

#genre-library-selector {
  padding: 0px;
  display: block;
  margin-left: 28px;
  margin-top: 40px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #595959;
  border-radius: 4px;
  width: 173px;
  height: 40;
  @media screen and (min-width: 768px) {
    margin-left: 0px;
    width: 144px;
    height: 44px;
  }
  @media screen and (min-width: 1280px) {
    width: 260px;
    height: 48px;
  }
}

#genre-library-selector option {
  margin-left: 20px;
  margin-bottom: 14px;
  margin-top: 14px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #282828;
}
