.header {
  height: 48px;

  z-index: 100;
  background-color: $mobile-bg-color;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link {
  color: $white-color;
  font-size: 24px;
  line-height: 1.17;
  display: flex;
  align-items: center;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $card-desc-color;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link:hover,
.header-link:focus {
  color: $accent-color;
  transition: $cubic-bezier;
}

.header-btn-switch {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 18px;
  border: none;
  border-radius: 194px;
  background: $btn-bg-color;
  text-align: center;
}

.switch-moon,
.switch-sun,
.switch-elipse {
  width: 24px;
  height: 24px;
  stroke: white;
  transition: opacity 0.3s ease;
  background-position: center;
  background-color: transparent;
}

.button-switch {
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 3px;
  width: 60px;
  gap: 22px;
  background: $btn-bg-color;
  border-radius: 74px;
  border: none;

  @media screen and (min-width: 768px) {
    gap: 16px;
  }
}
.icon-halfofmoon {
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 10px;
  }
}

.icon-moon-right {
  @media screen and (min-width: 768px) {
    width: 13px;
    height: 13px;
  }
}

/////// ------------ ДОДАВ СТИЛІ ДЛЯ КНОПКИ --------------- /////////////
.icon-moon-left {
  @media screen and (min-width: 768px) {
    width: 13px;
    height: 13px;
  }
}

.icon-sun {
  @media screen and (min-width: 768px) {
    width: 13px;
    height: 13px;
  }
}

// ============================ MENU ==================================//

.menu-open-btn {
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $card-desc-color;
}

.menu-open-btn:hover,
.menu-open-btn:focus {
  color: $accent-color;
  transition: $cubic-bezier;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.2);
}

.menu-container {
  position: relative;
  width: 60%;
  height: 428px;
  background-color: $mobile-bg-color;
  padding: 80px 105px 144px 20px;
  border-radius: 0px 8px 8px 0px;
  transition: transform cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list {
  width: 79px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.mob-menu-item {
  font-size: 14px;
  line-height: 1.14;
  color: $white-color;
  text-transform: uppercase;
}

.menu-close-btn {
  display: block;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0);
  border: none;
}

.svg-close {
  stroke: $white-color;
}

.switch-icon use {
  fill: transparent;
}
// ============================ \MENU\ ==================================//

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
  .span-name {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 60px;
    display: flex;
    align-items: center;
  }
  .header-container {
    max-width: 768px;
  }
  .header-nav {
    justify-content: flex-start;
    align-items: center;
  }
  .header-list {
    margin-left: 59px;
    margin-right: 169px;
    gap: 32px;
  }

  .header-item {
    font-size: 13px;
  }
  .header-logo {
    margin-right: 8px;
  }
  .button-switch {
    min-width: 60px;
    min-height: 24px;
  }
  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .header {
  }
  .header-container {
    max-width: 1280px;
  }
  .header-item {
    font-size: 14px;
  }
  .menu-container {
    display: none;
  }

  .header-list {
    margin-left: 307px;
    margin-right: 417px;
  }
}
